{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>合同管理系统</title>
        <link rel="stylesheet" href={% static 'style/style.css' %}>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="{% static 'javascript/landing.js' %}"></script>
    </head>
    <body>
        <div>
            <div class="columns" >
                <div class="column is-4">
                    <a class="button is-primary is-inverted is-outlined is-large is-link" onclick="login()">LOG IN</a>
                </div>
                <div class="column is-4">
                    <a class="button is-primary is-inverted is-outlined is-large is-link" onclick="register()">REGISTER</a>
                </div>
            </div>
        </div>
    </body>
</html>