{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Manage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <link rel="stylesheet" href="{% static 'style/my.css' %}">
</head>

<body>
    <div id="index">
        <nav class="navbar is-transparent">
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                    <img src="{% static 'image/safari.png' %}" alt="contact_system" width="30" height="40">
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="bd-tw-button button" href="/logout">
                                    <span>
                                        注销
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
            <el-radio-button :label="false">展开</el-radio-button>
            <el-radio-button :label="true">收起</el-radio-button>
        </el-radio-group>
        <el-container v-bind:style="{border: '1px solid #eee', height:myheight}">
            <el-menu default-active="1-4-1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
                :collapse="isCollapse">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="mdui-icon material-icons">&#xe85d;</i>
                        <span slot="title">合同管理</span>
                    </template>
                    <el-menu-item index="1-1" data-target="#assignment1" @click="setiframeScr('myContract')" >· 我起草的合同</el-menu-item>
                    <el-menu-item index="1-2" data-target="#assignment1" @click="setiframeScr('myManageContract')" >· 我管理的合同</el-menu-item>
                    <el-menu-item index="1-3" data-target="#assignment" @click="setiframeScr('setContract')">· 分配合同</el-menu-item>
                    <el-menu-item index="1-4" data-target="#assignment1" @click="setiframeScr('allContract')" >· 全部合同</el-menu-item>
                </el-submenu>
                <el-menu-item index="2" @click="setiframeScr('role')">
                    <i class="mdui-icon material-icons">&#xe85e;</i>
                    <span slot="title">角色管理</span>
                </el-menu-item>
                <el-menu-item index="3" @click="setiframeScr('user')">
                    <i class="mdui-icon material-icons">&#xe853;</i>
                    <span slot="title">用户管理</span>
                </el-menu-item>
                <el-submenu index="4">
                    <template slot="title">
                        <i class="mdui-icon material-icons">&#xe87c;</i>
                        <span slot="title">客户管理</span>
                    </template>
                    <el-menu-item index="4-1" data-target="#assignment" @click="setiframeScr('myClient')">· 我的客户</el-menu-item>
                    <el-menu-item index="4-2" data-target="#assignment1" @click="setiframeScr('allClient')" >· 全部客户</el-menu-item>
                </el-submenu>
                <el-menu-item index="5" @click="setiframeScr('log')">
                    <i class="mdui-icon material-icons">&#xe86d;</i>
                    <span slot="title">日志</span>
                </el-menu-item>
            </el-menu>


            <el-container>
                    <iframe v-if="iframeScr!=''" :src="iframeScr" height="100%" width="100%"></iframe>
                    <iframe v-else :src="'myContract'" height="100%" width="100%"></iframe>
            </el-container>
        </el-container>
    </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
    var index = new Vue({
        el: '#index',
        data() {
            return {
                isCollapse: true,
                iframeScr: '',
                myheight: '',
            };
        },
        created() {
            this.setmyheight()
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            setiframeScr(scr) {
                this.iframeScr = scr;
            },
            setmyheight(){
                this.myheight=window.innerHeight-113+'px';
            }
        }
    })

</script>


</html>