{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>我起草的合同</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'style/my.css' %}">
</head>

<body>
<el-container id="table">
    <el-dialog title="起草合同" :visible.sync="showNewcontract">
        <el-form :model="form" ref="form" :rules="rules">
            <el-form-item label="合同名称" :label-width="formLabelWidth" prop="contractname">
                <el-input v-model="form.contractname" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="客户名" :label-width="formLabelWidth" prop="clientname">
                <el-select v-model="form.clientname" placeholder="请选择客户">
                    {% for client in clients %}
                        <el-option label="{{ client }}" value={{ client }}></el-option>
                    {% endfor %}
                </el-select>
            </el-form-item>
            <el-form-item label="生效时间" :label-width="formLabelWidth" prop="begintime">
                <el-col :span="11">
                    <el-date-picker type="date" placeholder="选择日期" v-model="form.begintime" value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="失效时间" :label-width="formLabelWidth" prop="endtime">
                <el-col :span="11">
                    <el-date-picker type="date" placeholder="选择日期" v-model="form.endtime" value-format="yyyy-MM-dd"
                                    style="width: 100%;"></el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="合同内容" :label-width="formLabelWidth" prop="content">
                <el-input type="textarea" autosize placeholder="请输入内容" v-model="form.content">
                </el-input>
            </el-form-item>
            <el-form-item label="附件" :label-width="formLabelWidth">
                <el-upload
                        class="upload-demo"
                        ref="upload"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :auto-upload="false"
                        :before-upload="beforeUpload"
                        limit="1"
                >
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                </el-upload>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="clear();">重 置</el-button>
            <el-button type="primary" @click="submitForm">提 交</el-button>
        </div>
    </el-dialog>
    <el-header style="text-align: right; font-size: 12px">
        <el-button icon="el-icon-edit" @click="showNewcontract=true;">起草</el-button>
    </el-header>
    <el-table :data="tableData" style="width: 100%">
        <el-table-column type="expand">
            <div slot-scope="c">
                <el-form label-position="left" inline class="demo-table-expand">
                    <el-form-item label="合同名称">
                        <span>[[ c.row.contractname ]]</span>
                    </el-form-item>
                    <el-form-item label="客户名">
                        <span>[[ c.row.clientname ]]</span>
                    </el-form-item>
                    <el-form-item label="起草人">
                        <span>[[ c.row.draft ]]</span>
                    </el-form-item>
                    <el-form-item label="状态">
                        <span>[[ c.row.state ]]</span>
                    </el-form-item>
                    <el-form-item label="合同内容"
                                  v-show="c.row.stateNum!='2'">
                        <span>[[ c.row.content ]]</span>
                    </el-form-item>
                    <el-form-item label="附件"
                                  v-show="c.row.stateNum!='2'">
                        <span v-if="c.row.file=='true'">
                            <el-button type="text" @click="download(c.row.contractnum)">下载</el-button>
                        </span>
                        <span v-else>
                            无
                        </span>
                    </el-form-item>
                    <el-form-item label="会签信息"
                                  v-show="c.row.stateNum==1||c.row.stateNum==2||c.row.stateNum==3||c.row.stateNum==4||c.row.stateNum==5">
                        <button>查看</button>
                    </el-form-item>
                    <el-form-item label="前去定稿" v-show="c.row.stateNum==2">
                        <button>编辑</button>
                    </el-form-item>
                    <el-form-item label="审批信息" v-show="c.row.stateNum==3||c.row.stateNum==4||c.row.stateNum==5">
                        <button>查看</button>
                    </el-form-item>
                    <el-form-item label="签订信息" v-show="c.row.stateNum==5">
                        <button>查看</button>
                    </el-form-item>

                </el-form>
            </div>
        </el-table-column>
        <el-table-column label="合同ID" prop="contractnum"></el-table-column>
        <el-table-column label="合同名称" prop="contractname"></el-table-column>
        <el-table-column label="客户名" prop="clientname"></el-table-column>
        <el-table-column label="开始时间" prop="begintime"></el-table-column>
        <el-table-column label="结束时间" prop="endtime"></el-table-column>
        <el-table-column label="状态" prop="state"></el-table-column>
    </el-table>


</el-container>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/myContract",
                type: "POST",
                success: function (data1) {
                    var contracts = JSON.parse(data1).contracts;
                    for (var i = 0; i < contracts.length; i++) {
                        let contract = contracts[i];
                        vue.tableData.push(
                            {
                                contractnum: contract.contractnum, //合同号
                                contractname: contract.contractname, //合同名
                                clientname: contract.clientname, //客户名
                                begintime: contract.begintime, //开始时间
                                endtime: contract.endtime, //结束时间
                                stateNum: contract.stateNum, //状态编号
                                state: contract.state,//状态
                                draft: contract.draft,//起草人
                                content: contract.content, //合同内容
                                file: contract.file //文件是否存在
                            }
                        );
                    }

                }
            })
        },
        data() {
            return {
                showNewcontract: false,
                fd: '',   // formdata  提交表单前存储所有表单内数据 用于发送
                form: {
                    contractname: '', //合同名
                    clientname: '', //客户名
                    begintime: '', //开始时间
                    endtime: '', //结束时间
                    content: '',
                    file: ''
                },
                rules: {
                    contractname: [{required: true, message: '请输入合同名称', trigger: 'blur'}], //合同名
                    clientname: [{required: true, message: '请选择客户姓名', trigger: 'blur'}], //客户名
                    begintime: [{required: true, message: '请选择合同生效时间', trigger: 'blur'}], //开始时间
                    endtime: [{required: true, message: '请选择合同失效时间', trigger: 'blur'}], //结束时间
                    content: [{required: true, message: '请输入合同内容', trigger: 'blur'}]
                },
                formLabelWidth: '100px',

                tableData: []
            };
        },
        methods: {
            submitForm() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        this.$refs.upload.submit();
                        vue.fd = new FormData();
                        vue.fd.append("contractname", this.form.contractname);
                        vue.fd.append("clientname", this.form.clientname);
                        vue.fd.append("begintime", this.form.begintime);
                        vue.fd.append("endtime", this.form.endtime);
                        vue.fd.append("content", this.form.content);
                        vue.fd.append("file", this.form.file);
                        $.ajax({
                            url: "/newContract",
                            type: "POST",
                            processData: false,
                            contentType: false,
                            data: vue.fd
                            ,
                            success: function (data1) {
                                var msg = JSON.parse(data1);
                                if (msg["msg"] == "success") {
                                    vue.$message({
                                        message: '成功起草合同!',
                                        type: 'success'
                                    });
                                    vue.showNewcontract = false;
                                }
                                else if (msg["msg"] == "fail") {
                                    vue.$message.error('起草失败！');
                                }
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            beforeUpload(file) {
                this.form.file = file;
            },
            clear() {
                this.form.contractname = ''; //合同名
                this.form.clientname = ''; //客户名
                this.form.begintime = ''; //开始时间
                this.form.endtime = ''; //结束时间
                this.form.content = '';
                this.form.file = '';
            },
            download(contractnum) {
                var form = $("<form>");//定义一个form表单
                form.attr("style", "display:none");
                form.attr("target", "");
                form.attr("method", "post"); //请求类型
                form.attr("action", "/downloadFile"); //请求地址
                var sql = $("<input>");
                sql.attr("type", "hidden");
                sql.attr("name", "contractnum");
                sql.attr("value", contractnum);
                form.append(sql);
                $(document.body).append(form)
                form.submit()
            }
        }
    })
</script>
</html>