{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>分配合同</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'style/my.css' %}">
</head>
<body>
<el-container id="table">
    <el-dialog title="合同分配信息" :visible.sync="showContractInfo">
        <el-table :data="contractInfo.countersign">
            <el-table-column prop="countersignPerson" label="会签人" width="150"></el-table-column>
            <el-table-column prop="opinion" label="会签意见"></el-table-column>
            <el-table-column prop="ctime" label="会签时间" width="150"></el-table-column>
        </el-table>
         <el-table :data="contractInfo.approval">
            <el-table-column prop="approvalPerson" label="审批人" width="150"></el-table-column>
            <el-table-column prop="astate" label="审批结果"></el-table-column>
            <el-table-column prop="atime" label="审批时间" width="150"></el-table-column>
        </el-table>
         <el-table :data="contractInfo.sign">
            <el-table-column prop="signPerson" label="签订人" width="150"></el-table-column>
            <el-table-column prop="sinformation" label="签订信息"></el-table-column>
            <el-table-column prop="stime" label="签订时间" width="150"></el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
            <el-button @click="showInfo = false">我知道啦</el-button>
        </div>
    </el-dialog>

    <el-dialog title="分配合同管理人员" :visible.sync="showSetContract" width="40%">
        <el-form :model="setContract" ref="set" :rules="rules">
            <el-collapse v-model="activeName" accordion>
                <el-collapse-item title="会签" name="1">
                    <el-transfer
                            :titles="['备选用户', '会签人']"
                            v-model="value_contract"
                            :data="usernames1">
                    </el-transfer>
                </el-collapse-item>
                <el-collapse-item title="审批" name="2">
                    <el-transfer
                            :titles="['备选用户', '审批人']"
                            v-model="value_approval"
                            :data="usernames2">
                    </el-transfer>
                </el-collapse-item>
                <el-collapse-item title="签订" name="3">
                    <el-transfer
                            :titles="['备选用户', '签订人']"
                            v-model="value_sign"
                            :data="usernames3">
                    </el-transfer>
                </el-collapse-item>
            </el-collapse>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="setContract">提 交</el-button>
        </div>
    </el-dialog>

    <el-header style="text-align: right; font-size: 12px">
        <el-button @click="resetDateFilter">清除合同状态过滤器</el-button>
    </el-header>

  <el-table ref="filterTable" :data="tableData" style="width: 100%">
      <el-table-column prop="contractnum" label="合同号" sortable></el-table-column>
      <el-table-column prop="contractname" label="合同名"></el-table-column>
      <el-table-column prop="clientname" label="客户名"></el-table-column>
      <el-table-column prop="begintime" label="开始时间" sortable></el-table-column>
      <el-table-column prop="endtime" label="结束时间" sortable></el-table-column>
      <el-table-column prop="stateNum" label="状态" sortable column-key="stateNum"
                       :filters="[{ text: '未分配', value: ['0'] }, { text: '已分配', value: ['1','2','3','4','5'] }]"
                       :filter-method="filterTag"
                       filter-placement="bottom-end">
          <div slot-scope="scope">
              <el-tag
                      :type="scope.row.stateNum === '0' ? 'primary' : 'success'"
                      disable-transitions>[[ scope.row.state ]]</el-tag>
          </div>
      </el-table-column>
      <el-table-column prop="draft" label="起草人"></el-table-column>
      <el-table-column label="分配信息">
          <div slot-scope="scope">
              <el-button size="mini" type="success"
                         v-show="scope.row.stateNum=='1'||scope.row.stateNum=='2'||scope.row.stateNum=='3'||scope.row.stateNum=='4'||scope.row.stateNum=='5'"
                         @click="showContractInfoOpen(scope.row)">查看分配信息
              </el-button>
              <el-button size="mini" v-show="scope.row.stateNum=='0'" type="primary" style="margin-left: 0px;"
                         @click="setContractOpen(scope.row)">前去分配管理人员
              </el-button>
          </div>
      </el-table-column>
  </el-table>
</el-container>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/setContract",
                type: "POST",
                success: function (data1) {
                    let contracts = data1.contracts;
                    for (var i =0;i<contracts.length;i++) {
                        let contract = contracts[i];
                        vue.tableData.push(
                            {
                                contractnum: contract.contractnum, //合同号
                                contractname: contract.contractname, //合同名
                                clientname: contract.clientname, //客户名
                                begintime:contract.begintime, //开始时间
                                endtime: contract.endtime, //结束时间
                                stateNum: contract.stateNum, //状态编号
                                state: contract.state, //状态
                                draft: contract.draft//起草人
                            }
                        );
                    }

                }
            });
            $.ajax({
                    url: "/getUsernames",
                    type: "POST",
                    success: function (data1) {
                        var users = JSON.parse(data1).users;
                        for (var i = 0; i < users.length; i++) {
                            let user = users[i];
                            vue.usernames.push(
                                user.username,
                            );
                        }
                    }
                })

        },
        data() {
            return {
                tableData: [{
                    contractnum: '001', //合同号
                    contractname: '', //合同名
                    clientname: '', //客户名
                    begintime: '', //开始时间
                    endtime: '', //结束时间
                    stateNum: '0', //状态编号
                    state: '未分配', //状态
                    draft: ''//起草人
                },{
                    contractnum: '002', //合同号
                    contractname: '', //合同名
                    clientname: '', //客户名
                    begintime: '', //开始时间
                    endtime: '', //结束时间
                    stateNum: '1', //状态编号
                    state: '会签中', //状态
                    draft: ''//起草人
                }],

                showSetContract: false,
                usernames:['aaa','bbb','ccc','ddd'],
                usernames1:[],
                value_contract: [],
                usernames2:[],
                value_approval: [],
                usernames3:[],
                value_sign: [],

                setContract:[{
                    contractnum: '',
                    countersign1:'',
                    countersign2:'',
                    countersign3:'',
                    approval1:'',
                    approval2:'',
                    approval3:'',
                    sign:'',
                }],
                formLabelWidth: '100px',
                showContractInfo:false,
                contractInfo:[

                ],
                fd:'',
            };
        },
        methods: {
            resetDateFilter() {
                this.$refs.filterTable.clearFilter('stateNum');
            },
            filterTag(values, row) {
                for(var i=0;i<values.length;i++){
                    let value=values[i];
                    if(row.stateNum===value)
                        return true;
                }
                return false;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            setContractOpen(row){
                this.showSetContract=true;
                this.setContract.contractnum=row.contractnum;
                this.usernames.forEach((username, index) => {
                    this.usernames1.push({
                        label: username,
                        key: index,
                    });
                    this.usernames2.push({
                        label: username,
                        key: index,
                    });
                    this.usernames3.push({
                        label: username,
                        key: index,
                    });
                });
            },
            setContract(){
                if(this.value_contract.length===0){
                    vue.$message.error('请分配会签人员！');
                    return false;
                }
                if(this.value_approval.length===0){
                    vue.$message.error('请分配审批人员！');
                    return false;
                }
                if(this.value_sign.length===0){
                    vue.$message.error('请分配签订人员！');
                    return false;
                }
                if(this.value_contract.length>3){
                    vue.$message.error('会签人数大于3，请重新分配！');
                    return false;
                }
                if(this.value_approval.length>3){
                    vue.$message.error('审批人数大于3，请重新分配！');
                    return false;
                }
                if(this.value_sign.length>1){
                    vue.$message.error('签订人数大于1，请重新分配！');
                    return false;
                }
                this.setContract.countersign1=this.value_contract[0];
                if(this.value_contract[1]){
                    this.setContract.countersign2=this.value_contract[1];
                }
                 if(this.value_contract[2]){
                    this.setContract.countersign3=this.value_contract[2];
                }
                this.setContract.approval1=this.value_approval[0];
                 if(this.value_approval[1]){
                    this.setContract.approval2=this.value_approval[1];
                }
                 if(this.value_approval[2]){
                    this.setContract.approval3=this.value_approval[2];
                }
                this.setContract.sign=this.value_sign[0];
                vue.fd = new FormData();
                vue.fd.append("contractnum", this.setContract.contractnum);
                vue.fd.append("countersign1", this.setContract.countersign1);
                vue.fd.append("countersign2", this.setContract.countersign2);
                vue.fd.append("countersign3", this.setContract.countersign3);
                vue.fd.append("approval1", this.setContract.approval1);
                vue.fd.append("approval2", this.setContract.approval2);
                vue.fd.append("approval3", this.setContract.approval3);
                vue.fd.append("sign", this.setContract.sign);
                $.ajax({
                    url: "/setContract",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: vue.fd
                    ,
                    success: function (data1) {
                        var msg = JSON.parse(data1);
                        if (msg["msg"] == "success") {
                            vue.$message({
                                message: '保存成功!',
                                type: 'success'
                            });
                            vue.showNewcontract = false;
                        }
                        else if (msg["msg"] == "fail") {
                            vue.$message.error('保存失败！');
                        }
                    }
                })
            },
            showContractInfoOpen(row) {
                this.showContractInfo = true;
                $.ajax({
                    url: "/getContractInfo",
                    type: "POST",
                    success: function (data1) {
                        var cInfo = JSON.parse(data1).cInfo;
                        vue.contractInfo.push(
                            {
                                contractnum: row.contractnum,
                                countersign: [{
                                    countersignPerson: cInfo.countersign1,
                                    opinion: cInfo.opinion1,
                                    ctime: cInfo.ctime1,
                                }, {
                                    countersignPerson: cInfo.countersign2,
                                    opinion: cInfo.opinion2,
                                    ctime: cInfo.ctime2,
                                }, {
                                    countersignPerson: cInfo.countersign3,
                                    opinion: cInfo.opinion3,
                                    ctime: cInfo.ctime3,
                                }],
                                approval: [{
                                    approvalPerson: cInfo.approval1,
                                    astate: cInfo.astate1,
                                    atime: cInfo.atime1,
                                }, {
                                    approvalPerson: cInfo.approval2,
                                    astate: cInfo.astate2,
                                    atime: cInfo.atime2,
                                }, {
                                    approvalPerson: cInfo.approval3,
                                    astate: cInfo.astate3,
                                    atime: cInfo.atime3,
                                }],
                                sign: [{
                                    signPerson: cInfo.sign,
                                    sinformation: cInfo.sinformation,
                                    stime: cInfo.stime,
                                }],
                            }
                        );
                    }
                })
            },
        }
    })
</script>
</html>