{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>分配合同</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="{% static 'style/my.css' %}">
</head>
<body>
<el-container id="table">
    <el-header style="text-align: right; font-size: 12px">
        <el-button @click="resetDateFilter">清除合同状态过滤器</el-button>
    </el-header>

  <el-table ref="filterTable" :data="tableData" style="width: 100%">
      <el-table-column prop="contractnum" label="合同号" sortable></el-table-column>
      <el-table-column prop="contractname" label="合同名"></el-table-column>
      <el-table-column prop="clientname" label="客户名"></el-table-column>
      <el-table-column prop="begintime" label="开始时间" sortable></el-table-column>
      <el-table-column prop="endtime" label="结束时间" sortable></el-table-column>
      <el-table-column prop="state" label="状态编号" sortable column-key="state"
                       :filters="[{ text: '未分配', value: '0' }, { text: '已分配', value: '1'&&'2'&&'3'&&'4'&&'5' }]"
                       :filter-method="filterTag"
                       filter-placement="bottom-end">
          <div slot-scope="scope">
              <el-tag
                      :type="scope.row.state === '0' ? 'primary' : 'success'"
                      disable-transitions>[[ scope.row.state ]]</el-tag>
          </div>
      </el-table-column>
      <el-table-column prop="draft" label="起草人"></el-table-column>
      <el-table-column label="分配信息">
          <div slot-scope="scope">
              <el-button size="mini" type="success"
                         v-show="scope.row.state=='1'||scope.row.state=='2'||scope.row.state=='3'||scope.row.state=='4'||scope.row.state=='5'"
                         @click="handleEdit(scope.$index, scope.row)">查看分配信息
              </el-button>
              <el-button size="mini" v-show="scope.row.state=='0'" type="primary"
                         @click="handleEdit(scope.$index, scope.row)">前去分配管理人员
              </el-button>
          </div>
      </el-table-column>
  </el-table>
</el-container>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var vue = new Vue({
        delimiters: ['[[', ']]'],
        el: '#table',
        created: function () {
            // 页面刚被渲染时向后端发送ajax请求数据  解析json后放入vue的变量tableData里
            $.ajax({
                url: "/setCcontract",
                type: "POST",
                success: function (data1) {
                    var contracts = JSON.parse(data1).contracts;
                    for (var i =0;i<contracts.length;i++) {
                        let contract = contracts[i];
                        vue.tableData.push(
                            {
                                contractnum: contract.contractnum, //合同号
                                contractname: contract.contractname, //合同名
                                clientname: contract.clientname, //客户名
                                begintime:contract.begintime, //开始时间
                                endtime: contract.endtime, //结束时间
                                state: contract.stateNum, //状态编号
                                draft: contract.draft//起草人
                            }
                        );
                    }

                }
            })
        },
        data() {
            return {

                tableData: [{
                    contractnum:'001', //合同号
                    contractname: '合同1', //合同名
                    clientname:  '张杰', //客户名
                    begintime: '2018', //开始时间
                    endtime:   '2019', //结束时间
                    state:  '0', //状态编号
                    draft:  '谢娜'//起草人
                    },{
                    contractnum:'002', //合同号
                    contractname: '合同2', //合同名
                    clientname:  '张杰', //客户名
                    begintime: '2019', //开始时间
                    endtime:   '2019', //结束时间
                    state:  '2', //状态编号
                    draft:  '谢娜'//起草人
                    }
                ]
            };
        },
        methods: {
            resetDateFilter() {
                this.$refs.filterTable.clearFilter('state');
            },
            filterTag(value, row) {
                return row.state === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        }
    })
</script>
</html>